
<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      Angular Fundamentals
    </mat-panel-title>
    <mat-panel-description>
      Total duration: 3 Hours
    </mat-panel-description>
  </mat-expansion-panel-header>
  <p> This is the panel content. Add course details</p>
  <mat-action-row>
    <button mat-button>Enroll</button>
  </mat-action-row>
</mat-expansion-panel>

<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      Angular Material
    </mat-panel-title>
    <mat-panel-description>
      Total duration: 2 Hours
    </mat-panel-description>
  </mat-expansion-panel-header>
  <p> This is the panel content. Add course details</p>
  <mat-action-row>
    <button mat-button>Enroll</button>
  </mat-action-row>
</mat-expansion-panel>

<h1> Accordion</h1>

<mat-accordion>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Angular Fundamentals Accordion
      </mat-panel-title>
      <mat-panel-description>
        Total duration: 3 Hours
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p> This is the panel content. Add course details</p>
    <mat-action-row>
      <button mat-button>Enroll</button>
    </mat-action-row>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Angular Material Accordion
      </mat-panel-title>
      <mat-panel-description>
        Total duration: 2 Hours
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p> This is the panel content. Add course details</p>
    <mat-action-row>
      <button mat-button>Enroll</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>


<h1> Accordion multi</h1>

<mat-accordion multi="true">

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Angular Fundamentals Accordion
      </mat-panel-title>
      <mat-panel-description>
        Total duration: 3 Hours
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p> This is the panel content. Add course details</p>
    <mat-action-row>
      <button mat-button>Enroll</button>
    </mat-action-row>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Angular Material Accordion
      </mat-panel-title>
      <mat-panel-description>
        Total duration: 2 Hours
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p> This is the panel content. Add course details</p>
    <mat-action-row>
      <button mat-button>Enroll</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>


<h1> Accordion multi hideToggle</h1>

<mat-accordion multi="true" hideToggle="true">

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Angular Fundamentals Accordion
      </mat-panel-title>
      <mat-panel-description>
        Total duration: 3 Hours
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p> This is the panel content. Add course details</p>
    <mat-action-row>
      <button mat-button>Enroll</button>
    </mat-action-row>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Angular Material Accordion
      </mat-panel-title>
      <mat-panel-description>
        Total duration: 2 Hours
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p> This is the panel content. Add course details</p>
    <mat-action-row>
      <button mat-button>Enroll</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
