<mat-horizontal-stepper linear>
  <mat-step label="Shipping Address" completed="true">
    <p> Shipping Address Details</p>
  </mat-step>
  <mat-step label="Billing Address" completed="false">
    <p> Billing Address Details</p>
    <button mat-button matStepperPrevious>Back</button>
    <button mat-button matStepperNext>Next</button>
  </mat-step>
  <mat-step label="Place order" completed="false">
    <p> Order Details</p>
  </mat-step>
</mat-horizontal-stepper>

<mat-horizontal-stepper linear>
  <mat-step label="Register 1 Address" completed="false" optional>
    <p> Register Address Details</p>
  </mat-step>
  <mat-step label="Register 2 Address" completed="false">
    <p> Register Address Details</p>
    <button mat-button matStepperPrevious>Back</button>
    <button mat-button matStepperNext>Next</button>
  </mat-step>
  <mat-step label="Regiser" completed="false">
    <p> Register </p>
  </mat-step>
  <mat-step label="Regiser" completed="false">
    <p> Register </p>
  </mat-step>
</mat-horizontal-stepper>
