<!--default floatLabel auto -->
<div>


  <mat-form-field>
    <mat-label>Name</mat-label>
    <input matInput>
  </mat-form-field>
  <hr>
  <mat-form-field floatLabel="never" appearance="legacy">
    <mat-label>Last Name Legacy</mat-label>
    <input matInput required>
    <mat-hint>Min 5 characters</mat-hint>
  </mat-form-field>

  <mat-form-field floatLabel="never" appearance="standard">
    <mat-label>Last Name standard</mat-label>
    <input matInput required>
    <mat-hint>Min 5 characters</mat-hint>
  </mat-form-field>
  <hr>
  <mat-form-field floatLabel="never" appearance="fill">
    <mat-label>Last Name Fill</mat-label>
    <input matInput required>
    <mat-hint>Min 5 characters</mat-hint>
  </mat-form-field>

  <mat-form-field floatLabel="never" appearance="outline">
    <mat-label>Last Name Outline</mat-label>
    <input matInput required>
    <mat-hint>Min 5 characters</mat-hint>
  </mat-form-field>
  <hr>

  <mat-form-field floatLabel="never" appearance="outline" color="accent">
    <mat-label>Color Accent</mat-label>
    <input matInput required>
    <mat-hint>Min 5 characters</mat-hint>
  </mat-form-field>
  <hr>

  <mat-form-field floatLabel="never" appearance="outline" color="warn">
    <mat-label>Color Warn</mat-label>
    <input matInput required>
    <mat-hint>Min 5 characters</mat-hint>
  </mat-form-field>
  <hr>
  <mat-form-field floatLabel="always" hideRequiredMarker>
    <mat-label>Nickname</mat-label>
    <input matInput required>
    <mat-hint align="end">Min 5 characters</mat-hint>
  </mat-form-field>

</div>
