<mat-vertical-stepper linear>
  <mat-step label="Register 1 Address" completed="false" optional>
    <p> Register Address Details</p>
  </mat-step>
  <mat-step label="Register 2 Address" completed="false">
    <p> Register Address Details</p>
    <button mat-button matStepperPrevious>Back</button>
    <button mat-button matStepperNext>Next</button>
  </mat-step>
  <mat-step label="Regiser" completed="false">
    <p> Register </p>
  </mat-step>
  <mat-step label="Regiser" completed="false">
    <p> Register </p>
  </mat-step>
</mat-vertical-stepper>
