<div>
  <button mat-button> Click me!</button>
  <button mat-raised-button> Click me!</button>
  <button mat-flat-button> Click me!</button>
  <button mat-stroked-button> Click me!</button>
</div>


<div>
  <button mat-icon-button>Icon</button>
  <button mat-fab>Fab</button>
  <button mat-mini-fab>Minifab</button>
</div>
<hr>
<div>
  <button color="primary" mat-button> Primary</button>
  <button color="accent" mat-button> Accent</button>
  <button color="warn" mat-button> Warn</button>
</div>
<hr>
<div>
  <button color="primary" mat-raised-button> Primary</button>
  <button color="accent" mat-raised-button> Accent</button>
  <button color="warn" mat-raised-button> Warn</button>
</div>

<hr>

<div>
  <button color="primary" mat-flat-button> Primary</button>
  <button color="accent" mat-flat-button> Accent</button>
  <button color="warn" mat-flat-button> Warn</button>
</div>

<hr>

<div>
  <button color="primary" mat-stroked-button> Primary</button>
  <button color="accent" mat-stroked-button> Accent</button>
  <button color="warn" mat-stroked-button> Warn</button>
</div>


<hr>

<h1> Disable ripple</h1>

<button color="warn" mat-button disableRipple> Warn</button>


